{% extends "base.html" %}
{% load crispy_forms_tags %} 

{% block content %}

<div class="mt-3">
    <div id="alert-box"></div>
    <div id="img-box" class="text-center"></div>
    <form id="p-form" autocomplete="off">
        {% csrf_token %}
        {{form|crispy}}    
        <div id="btn-box" class="not-visible mt-1 mb-3">
            <button type="submit" class="btn btn-primary" data-filter = "NO_FILTER">No filter</button>
            <button type="submit" class="btn btn-primary" data-filter = "COLORIZED">colorized</button>
            <button type="submit" class="btn btn-primary" data-filter = "GRAYSCALE">grayscale</button>
            <button type="submit" class="btn btn-primary" data-filter = "BLURRED">blurred</button>
            <button type="submit" class="btn btn-primary" data-filter = "BINARY">binary</button>
            <button type="submit" class="btn btn-primary" data-filter = "INVERT">invert</button>
        </div>    
    </form>
</div>
{% endblock content %} 


 
